@charset "UTF-8";

/* Todas as demais mídias*/

@media print { /*IMPRESSORA*/
    *{
        font-family: 'Courier New', Courier, monospace;
    }
    body{
        background-image: url(../Imagens/back-print.jpg);
    }
    main{
        width: 90vw;
        border: 2px solid black;
    }
    main::after{
        text-decoration: overline;
        content: 'Esse impressao foi realizada por Marcos Paulo';
    }
    main, h1{
        text-shadow: none;
        color: black;
    }
}
@media screen and (max-width:768px) and (max-width:992px){ /*TABLET*/
    body{
        background-image: url(../Imagens/back-tablet.jpg);
    }
    #phone{display: none;}
    #tablet{display: block;}
    #print{display: none;}
    #pc{display: none;}
    #tv{display:none;}
}
@media screen and (min-width: 992px) and 
(max-width:1200px) { /*DESKTOP*/
   body{
    background-image: url(../Imagens/back-pc.jpg);
   } 
   #phone{display: none;}
    #tablet{display: none;}
    #print{display: none;}
    #pc{display: block;}
    #tv{display:none;}
}
@media screen and (min-width: 1200px){ /*GRANDES TELAS*/   
    body{
        background-image: url(../Imagens/back-tv.jpg);
    } 
    #phone{display: none;}
    #tablet{display: none;}
    #print{display: none;}
    #pc{display: none;}
    #tv{display:block;}
}